pre,
canvas {
  font-family: monospace;
  white-space: pre-wrap;
  color: #bbbbbb;
  background-color: #222222;
  border: none;
  border-radius: 5px;
  margin: 10px auto;
}

canvas {
  display: block;
  width: 85%;
  max-width: 640px;
  image-rendering: pixelated;
  border: 2px solid #4CAF50;
  box-shadow: 0 0 20px #4CAF50;
  border-radius: 8px;
}

#inventoryBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  margin: 10px auto;
  max-width: 200px;
}

.slot {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: 2px solid #4CAF50;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #ffffff;
  transition: background-color 0.2s ease;
  opacity: 0.4;
}

.slot.used {
  background-color: #111;
  opacity: 1;
}

#maze {
  font-size: 120%
}

#controls {
  margin-top: 40px;
}

#biomeName,
#modeStats {
  color: #4CAF50
}

#points,
#finalPoints,
#coins {
  color: yellow
}

#highscore,
#finalHighScore {
  color: #f7ef8a
}

#flags,
#finalFlags,
#time {
  color: red
}

body {
  background-color: black;
  color: white;
  text-align: center;
}

#gameOver,
#startMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(30, 30, 30, 0.8);
  border-radius: 15px;
  padding: 20px;
}

#startMenu label {
  display: block;
  margin: 10px 0;
}

#startMenu button,
#gameOver button,
#menuButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-right: 10px;
}

#gameOver button {
  margin-bottom: 10px
}

.title {
  color: #4CAF50;
  font-size: 36px;
  margin-bottom: 20px;
}

#startMenu form {
  margin-bottom: 20px;
}

#startMenu input[type="radio"] {
  margin-right: 10px;
}

/* Custom styling for the mode selection form */
#modeSelect {
  margin-top: 20px;
}

#modeSelect label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #4CAF50;
}

#modeSelect input[type="radio"],
#modeSelect input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.5);
  /* Increase radio button size */
}

#modeSelect label:has(input[type="radio"]:checked) {
  font-weight: bold;
  color: #74c577;
}

#modeSelect button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#modeSelect button[type="submit"]:hover {
  background-color: #45a049;
}