body {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
}

canvas {
  display: block;
  margin: 10px auto;
  width: 85%;
  max-width: 640px;
  font-family: monospace;
  image-rendering: pixelated;
  background-color: #222222;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  box-shadow: 0 0 20px #4CAF50;
}

#inventoryBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  margin: 10px auto;
  max-width: 200px;
}

.slot {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: 2px solid #4CAF50;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #ffffff;
  transition: background-color 0.2s ease;
  opacity: 0.4;
}

.slot.used {
  background-color: #111;
  opacity: 1;
}

.slot.selected {
  background-color: #f7f08a80;
  size: 1.2;
}

#biomeName,
#modeStats {
  color: #4CAF50
}

#points,
#finalPoints,
#coins {
  color: yellow
}

#highscore,
#finalHighScore {
  color: #f7ef8a
}

#flags,
#finalFlags,
#time {
  color: red
}

#gameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(30, 30, 30, 0.8);
  border-radius: 15px;
  padding: 20px;
}

#dropButton,
#gameOver button,
#menuButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-right: 10px;
}

#dropButton:disabled {
  opacity: 0.4;
}

#gameOver button {
  margin-bottom: 10px
}